<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
	xmlns:jpa="http://aries.apache.org/xmlns/jpa/v1.1.0" xmlns:tx="http://aries.apache.org/xmlns/tx/v1.1.0">
	<bean id="manager" class="de.gzockoll.prototype.actorrole.control.ManagerImpl">
		<jpa:unit property="em" unitname="prototype" />
		<tx:transaction method="*" value="Required" />
	</bean>
	<bean id="actorService" class="de.gzockoll.prototype.actorrole.Main" init="init">
		<property name="manager" ref="manager" />
	</bean>

	<service id="manager" ref="manager"
		interface="de.gzockoll.prototype.actorrole.control.Manager" />
	<service id="main" ref="actorService" interface="de.gzockoll.prototype.actorrole.ActorService" />
</blueprint>
